doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Create Ads
  link(href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='/css/create_ad.css')
.out-of-container
  .container
    h2.title Create an engagement Ad
    hr
    .caption-container
      h4 Ad text
      .text-box
        form
          textarea#description(name='description' required='')
    .media-container
      h4 Media
      .media-box
        form
          input#image.choose-file(type='file' name='image' accept='image/*' required='')
    button + Add Media
    // <button class="next-button">Next</button>
  button.next-button Next
