head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
  link(rel='stylesheet' href='/css/log-in.css')
body
  form
    .head
      h2 WELCOME
    .form-group
      input(type='email' id='floatingInput' placeholder='Username')
      input(type='password'   id='floatingPassword' placeholder='Password')
      button.loginform(type='submit') Log-In
  script(type='module' src='/js/index.js')
